// Typography
$t-lh-box: 1;
$t-lh-default: 1.4;
$t-fw-bold: 600;
$t-fw-regular: 400;
$t-font-family: "Poppins", sans-serif;
// Colors
$c-text-primary: #004152;
$c-accent-primary: #11a28c;
$c-bg-white: #ffffff;
$c-bg-transparent: rgba(255, 255, 255, 0);
