/* 
  Responsive breakpoints: 
  XSM: 360+
  SM: 600+
  MD: 800+
  LG: 1024+
  XLG: 1288+
*/

:root {
  /* Mobile-first: use XSM values by default */
  --grid-gutter: 16px;
  --grid-margin: 16px;
}

/* Grid container */
.grid-container {
  padding: var(--grid-margin);
}

/* SM */
@media screen and (max-width: 599px) {
  .grid-container .hide-below-sm {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  :root {
    --grid-margin: 20px;
  }
}

/* MD */
@media screen and (max-width: 799px) {
  .grid-container .hide-below-md {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  :root {
    --grid-gutter: 24px;
    --grid-margin: 28px;
  }
}

/* LG */
@media screen and (max-width: 1023px) {
  .grid-container .hide-below-lg {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --grid-margin: 32px;
  }
}

/* XLG */
@media screen and (max-width: 1287px) {
  .grid-container .hide-below-xlg {
    display: none;
  }
}
